<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/partials/headMeta.ejs') %>
    <%- include('../../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>
    <header>
        <%- include('../../components/partials/header.ejs') %>
    </header>
    <main class="bodyflex">
        <aside class="sidebar-links" id="sidebar">
            <%- include('../../components/partials/sideBar.ejs') %>
        </aside>    
        <div class="custom-container">
            <%- include('../../components/servicePages/landingPage/banner.ejs') %>
            <%- include('../../components/partials/trustedClients.ejs') %>
            <%- include('../../components/partials/footerContact.ejs') %>
        </div>
    </main>
    <footer class="custom-container border-1 border-top">
        <%- include('../../components/partials/footer.ejs') %>
        <%- include('../../components/partials/footerLinks.ejs') %>
    </footer>
</body>
</html>