<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/partials/headMeta.ejs') %>
    <%- include('../../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../../components/partials/header.ejs') %>
    <main class="bodyflex">
        <div class="sidebar-links" id="sidebar">
            <%- include('../../components/partials/sideBar.ejs') %>
        </div>    
        <div class="custom-container">
            <%- include('../../components/servicePages/exchangePage/banner.ejs') %>
        </div>
    </main>
    <%- include('../../components/partials/footerLinks.ejs') %>
</body>
</html>