<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/partials/headMeta.ejs') %>
    <%- include('../../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/hubPage.css">
</head>
<body>
    <%- include('../../components/partials/header.ejs') %>
    <main class="bodyflex">
        <div class="sidebar-links" id="sidebar">
            <%- include('../../components/partials/sideBar.ejs') %>
        </div>    
        <div class="custom-container">
            <%- include('../../components/servicePages/hubPage/banner.ejs') %>
            <%- include('../../components/servicePages/hubPage/about.ejs') %>
            <%- include('../../components/servicePages/hubPage/categories.ejs') %>
            <%- include('../../components/servicePages/hubPage/whyChooseUs.ejs') %>
            <%- include('../../components/partials/ourBlogInsights.ejs') %>
            <%- include('../../components/servicePages/hubPage/hubpageCta.ejs') %>
        </div>
    </main>
    <%- include('../../components/partials/footerLinks.ejs') %>
</body>
</html>