<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/partials/headMeta.ejs') %>
    <%- include('../../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/service/landingPage.css">
</head>
<body>
    <header>
        <%- include('../../components/partials/header.ejs') %>
    </header>
    <main class="bodyflex">
        <aside class="sidebar-links" id="sidebar">
            <%- include('../../components/partials/sideBar.ejs') %>
        </aside>    
        <div class="custom-container">
            <%- include('../../components/servicePages/landingPage/banner.ejs') %>
            <%- include('../../components/partials/trustedClients.ejs') %>
            <%- include('../../components/servicePages/landingPage/about.ejs') %>
            <%- include('../../components/servicePages/landingPage/differentTable.ejs') %>
            <%- include('../../components/servicePages/landingPage/callToAction1.ejs') %>
            <%- include('../../components/servicePages/landingPage/sixContentV1.ejs') %>
            <%- include('../../components/servicePages/landingPage/leftScroll.ejs') %>
            <%- include('../../components/servicePages/landingPage/bentoGridV1.ejs') %>
            <%- include('../../components/servicePages/landingPage/callToAction2.ejs') %>
            <%- include('../../components/partials/commonIndustry.ejs') %>
            <%- include('../../components/servicePages/landingPage/developmentProcess.ejs') %>
            <%- include('../../components/servicePages/landingPage/bulletPoint.ejs') %>
            <%- include('../../components/servicePages/landingPage/leftImg.ejs') %>
            <%- include('../../components/servicePages/landingPage/lastSection.ejs') %>
            <%- include('../../components/servicePages/landingPage/faq.ejs') %>
            <%- include('../../components/partials/footerContact.ejs') %>
        </div>
    </main>
    <footer class="custom-container border-1 border-top">
        <%- include('../../components/partials/footer.ejs') %>
        <%- include('../../components/partials/footerLinks.ejs') %>
        <script src="/js/partials/landingPage.js"></script>
    </footer>
</body>
</html>