<Section>
  <h1>Hello Blogs list page</h1>

  <main class="row justify-content-between">
    <% if (blogs && blogs.length > 0) { %>
      <% blogs.forEach(blog=> { %>
        <div class="blog-card col-xl-4">
          <a href="/blog/<%= blog.slug %>">
            <img src="<%= blog.image %>" alt="<%= blog.title %>" width="244" height="244" class="img-fluid">
            <h2>
              <%= blog.title %>
            </h2>
            <p>
              <%= blog.description %>
            </p>
            <small>
              <%= blog.category %>
            </small>
          </a>
        </div>
        <% }) %>
        <% } else { %>
          <p>No blogs found.</p>
          <% } %>
  </main>

</Section>