<section>
    <div class="Page-banner">
        <div class="text-center d-flex flex-column justify-content-center align-items-center h-100">
            <div class="col-xl-9 mx-auto">
                <div>
                    <p class="ep-tag"><span></span> <%= page.banner.tag %></p>
                    <h1 class="display-2"><%- page.banner.title %></h1>
                    <p class="card-txt-h"><%= page.banner.description %></p>
                </div>
                <div>
                    <p class="text-normal lh-base"><%- page.banner.content %></p>
                    <button class="btn btn-primary"><%= page.banner.button %></button>
                </div>
            </div>
        </div>
    </div>
</section>