<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/headMeta.ejs') %>
    <%- include('../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../components/partials/header.ejs') %>
    <div class="bodyflex">
        <div class="sidebar-links" id="sidebar">
            <%- include('../components/partials/sideBar.ejs') %>
        </div>    
        <div class="custom-container">
            <main>
                <%- include('../components/home/banner.ejs') %>
                <%- include('../components/home/service.ejs') %>
                <%- include('../components/home/ideaToImpact.ejs') %>
                <%- include('../components/home/caseStudy.ejs') %>
                <%- include('../components/home/latestProducts.ejs') %>
                <%- include('../components/home/homeBlogs.ejs') %>
                <%- include('../components/home/homeCta.ejs') %>
            </main>
            <%- include('../components/partials/footer.ejs') %>
        </div>
    </div>
    <%- include('../components/partials/footerLinks.ejs') %>
</body>
</html>